@model IEnumerable<UpFit__main.Models.Admin>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<div style="text-align: center;">
    <img src="~/Content/LOGO.png" alt="logo" width="20%" height="auto">
    <h2>Logged In as Admin</h2>
    <p>Welcome to your admin account! Select the operation you want to perform!</p>

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        @Html.ActionLink("Home", "Index", "Admins", new { area = "" }, new { @class = "btn btn-primary btn-custom" })

        @Html.ActionLink("Manage Users", "ManageUsers", "Admins", new { area = "" }, new { @class = "btn btn-primary btn-custom" })

        @Html.ActionLink("Manage Admins", "ManageAdmins", "Admins", new { area = "" }, new { @class = "btn btn-primary btn-custom" })

        @Html.ActionLink("Manage Foods", "ManageFoods", "Admins", new { area = "" }, new { @class = "btn btn-primary btn-custom" })

        @Html.ActionLink("Manage Food Types", "ManageFoodTypes", "Admins", new { area = "" }, new { @class = "btn btn-primary btn-custom" })

        @Html.ActionLink("Log Out", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary btn-custom" })
    </div>
</div>

<style>
    .btn-custom {
        padding: 10px 20px;
        width: 200px;
        margin-bottom: 10px;
    }
</style>
