@model UpFit__main.Models.Meal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mealTypeFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mealTypeFK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userFK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foodFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foodFK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mealID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
